App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
  width: 100%;
  padding-bottom: 15px;
}

.site-content:after {
  content: 'nothing';
  display: block;
  margin-top: 30px;
  height: 0;
  visibility: hidden;
}

.footer {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.form-control:focus {
  border-color: #337ab7 !important;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px #337ab7 !important;
}

.form-control {
  border: 1px solid rgba(0,0,0,0.1) !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
}

.rt-th { outline: none; }

.rt-th input[type="text"]:focus {
  border-color: #337ab7 !important;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px #337ab7 !important;
}

.ReactTable {
  border: none !important;
}

.ReactTable .rt-thead.-header {
  box-shadow: none !important;
}

.ReactTable .rt-thead.-filters {
  border: none !important;
}

.ReactTable .-pagination {
  border: none !important;
  box-shadow: none !important;
}

.ReactTable .rt-thead.-filters .rt-th {
  border-right: 1px solid rgba(0,0,0,0.05) !important;
}

.ReactTable .rt-thead.-filters .rt-th:last-child {
  border-right: none !important;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0,0,0,0.05) !important;
}

.ReactTable .rt-tbody .rt-td:last-child {
  border-right: none !important;
}

.react-toggle {
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.prop-toggle.react-toggle--checked .react-toggle-track {
  background-color: #337ab7;
}

.prop-toggle.react-toggle--checked:hover:not(.react-toggle-disabled) .react-toggle-track {
  background-color: #337ab7 !important;
}

.prop-toggle.react-toggle--checked .react-toggle-thumb {
  border-color: #337ab7;
}

.app-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.uls-trigger {
  padding-left: 0 !important;
  margin-left: -15px;
}

.uls-langname {
  vertical-align: middle;
  padding-left: 5px;
}

.uls-langcode {
  display: none;
}
