App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
  width: 100%;
  padding-bottom: 15px;
}

.site-content:after {
  content: 'nothing';
  display: block;
  margin-top: 30px;
  height: 0;
  visibility: hidden;
}

.footer {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.form-control:focus {
  border-color: #337ab7 !important;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px #337ab7 !important;
}

.form-control {
  border: 1px solid rgba(0,0,0,0.1) !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
}

.rt-th { outline: none; }

.rt-th input[type="text"]:focus {
  border-color: #337ab7 !important;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px #337ab7 !important;
}

.ReactTable {
  border: none !important;
}

.ReactTable .rt-thead.-header {
  box-shadow: none !important;
}

.ReactTable .rt-thead.-filters {
  border: none !important;
}

.ReactTable .-pagination {
  border: none !important;
  box-shadow: none !important;
}

.ReactTable .rt-thead.-filters .rt-th {
  border-right: 1px solid rgba(0,0,0,0.05) !important;
}

.ReactTable .rt-thead.-filters .rt-th:last-child {
  border-right: none !important;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0,0,0,0.05) !important;
}

.ReactTable .rt-tbody .rt-td:last-child {
  border-right: none !important;
}

.react-toggle {
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.prop-toggle.react-toggle--checked .react-toggle-track {
  background-color: #337ab7;
}

.prop-toggle.react-toggle--checked:hover:not(.react-toggle-disabled) .react-toggle-track {
  background-color: #337ab7 !important;
}

.prop-toggle.react-toggle--checked .react-toggle-thumb {
  border-color: #337ab7;
}

.app-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.uls-trigger {
  padding-left: 0 !important;
  margin-left: -15px;
}

.uls-langname {
  vertical-align: middle;
  padding-left: 5px;
}

.uls-langcode {
  display: none;
}

.match-text {
  color: #337ab7;
  font-weight: bold; 
}

.table {
  background-color: rgba(0,0,0,0.05) !important;
  margin-bottom: 0px !important;
}

.detail-title {
  padding-left: 20px;
  font-weight: bold;
}

/* adapted from ReactTable */
.tree-expander {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(-90deg);
  transform: translate(-50%,-50%) rotate(-90deg);
  border-left: 5.04px solid transparent;
  border-right: 5.04px solid transparent;
  border-top: 7px solid rgba(0,0,0,0.2);
  -webkit-transition: all .3s cubic-bezier(.175,.885,.32,1.275);
  transition: all .3s cubic-bezier(.175,.885,.32,1.275);
  cursor: pointer;
}

.rt-expander:after {
  border-top: 7px solid rgba(0,0,0,0.2) !important;
}

.hide {
 display: none;
}

.app-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.dropdown-menu {
  min-width: 110px !important;
  width: 110px !important;
  font-size: 8pt !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #fff !important;
  background-image: none !important;
  color: #000 !important;
}

.multiselect-container > li > a > label {
  padding: 3px 20px 3px 25px !important;
}

.btn-type {
  width: 110px !important;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}

/* react-contextmenu */
.react-contextmenu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  color: #000;
  font-size: 10pt;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #000;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0,0,0,.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}
